body{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    font-size: 1em;
    color: #ffffff;
    font-weight: 300;
    text-align: justify;
  }

  #siteHeader .logo {
    background: url("../assets/logo.png") no-repeat;
    width: 63px;
    height: 75px;
    display: block;
  }

  
  #siteBanner {
    background-image: url("../assets/banner.png");
    background-size: cover;
    background-position: 50%;
    min-height: 400px;
    height: 50vh;
    position: relative;
  }
  
  #siteBanner span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(4deg, #2852ca, #1b1e02);
    background-position: 50%;
    opacity: .8;
  }
  
  #siteBanner h3 {
    font-size: 2.5rem;
    line-height: 1.25em;
    font-weight: 700;
  }

  footer{
    background-color:rgb(0, 0, 0);
  }
  