
@import "_grilla.scss";
@import "_fuentes";
@import "_colores.scss";
@import "_sobrenosotros.scss";
@import "_contacto.scss";

@mixin cajasinxed ($fondo){
	border: 1px solid;
	border-color: black;
	background-color: $fondo;
}
.cajasindex-1{
	@include cajasinxed (#291e05)
}

.cajasindex-2{
	@include cajasinxed (#290505)
}

.cajasindex-3{
	@include cajasinxed (#082905)
}

$colorsec: #dcab52;



a {
text-decoration: none;
color: #ffffff;
}
a:hover {
color: $colorsec;
}

.titulos{
text-align: center;
color:rgb(202, 223, 16);
font-size: 2em;

}

ul{list-style: none;
}

.parrafo{
font-size: 1em;
color: white;
}

.row{
justify-content: center;
}


#botonDeWhatsapp {
	display: flex;
	justify-content:flex-end;
	img {
		width: auto;
		}
}


